{% extends 'base.html' %}
{% block content %}
<body>
<div>
    <h1><a href="{% url 'bookmark:add' %}" class="btn-info btn-sm">Add Bookmark</a></h1>
</div>
<table class="table">
    <thead>
    <tr>
        <th scope="col">No</th>
        <th scope="col">Site</th>
        <th scope="col">URL</th>
        <th scope="col">Modify</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for bookmark in object_list %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td><a href="{% url 'bookmark:detail' bookmark.id %}">{{ bookmark.site_name }}</a></td>
        <td><a href="{{ bookmark.url }}">{{ bookmark.url }}</a> </td>
        <td><a href="{% url 'bookmark:update' bookmark.id %}" class="btn btn-success btn-sm">Modify</a></td>
        <td><a href="{% url 'bookmark:delete' bookmark.id %}" class="btn btn-danger btn-sm">delete</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>

</body>
{% endblock %}