{% extends 'base.html' %}
{% block title %}
설문조사 리스트
{% endblock %}

{% block content %}
{% if new_list %}
<div class="row row-cols-1 row-cols-md-3">
{% for question in new_list %}
<div class="col mb-4">
<div class="card h-100">
  <div class="card-body">
    <h5 class="card-title">{{ question.question_text }}</h5>
    <p class="card-text">{{ question.pub_date }}</p>
    <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary">Go vote!</a>
  </div>
</div>
</div>
{% endfor %}
</div>
{% else %}
<p>No Questions</p>
{% endif %}
<button type="button" class="btn btn-primary btn-lg btn-block" onclick="location.href='{% url 'polls:question_add' %}'">Add Question</button>
{% endblock %}
